/*
01.General rules
02.Headline section
03.Content section
04.Transition effects
*/

/*01.General rules*/
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #444444;
}

a {
	text-decoration: none;
}

a:hover {
	color: #2ACD35;
}

/*02.Headline section*/
.container {
	margin: 50px auto;
	text-align: center;
	position: relative;
	background-color: #F5F4F3;
}
.headline-circle {
	width: 139px;
	height: 139px;
	border-radius: 50%;
	position: absolute;
	top: -23px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
	background-color: inherit;
}

h1 a {
	font-family: 'Oregano', cursive;
}

h1 {
	font-size: 40px;
	margin: 0;
	padding: 38px 0 14px;
}

/*03.Content section*/
section {
	max-width: 1200px;
	/*width: 100%;*/
	margin: 36px auto 0;
	padding-bottom: 50px;
	text-align: center;
}

.content {
	width: 350px;
	height: 240px;
	display: inline-block;
	margin: 0 13px 30px;
	position: relative;
	transition: box-shadow 0.2s ease-in-out;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.13);
}

.content img {
	width: 100%;
	height: auto;
}

.white-box {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 40px 35px;
	background-color: white;
	transition: height 0.3s ease;
	transition-delay: 0.15s;
	height: 107px;
}

.circle {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	position: absolute;
	top: -23px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	background-color: inherit;
}

span {
	font-size: 42px !important;
	position: relative;
	z-index: 2;
	color: #2ACD35;
}

h2 {
	font-size: 18px;
	margin-top: 10px;
	position: relative;
	z-index: 3;
}

.button {
	font-weight: 700;
	font-size: 13px;
	color: white;
	background-color: #2ACD35;
	border: 1px solid #2ACD35;
	border-radius: 22px;
	display: inline-block;
	margin-top: 10px;
	padding: 13.5px 20px;
	transition: opacity 0.15s ease;
	opacity: 0;
}

.button:hover {
	color: white;
	background-color: #444444;
	border: 1px solid #444444;
}

/*04.Transition effects*/
.content:hover {
	transition: box-shadow 0.2s ease-in-out;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.13);
}

.content:hover .white-box {
	transition: height 0.3s ease;
	transition-delay: 0.15s;
	height: 173px;
}

.content:hover .button {
	transition: opacity 0.3s ease;
	transition-delay: 0.45s;
	opacity: 1;
}


@media screen and (max-width: 1199px) {

	.content {
		width: 293px;
	}

	.white-box {
		height: 131px;
		/*transition: none;*/
		/*ne znam nacin da kada se width vrati na vece od 1199px, da se vidina diva vrati na 107px a bez transitio-a.*/
	}
}

@media screen and (max-width: 991px) {

	.content {
		width: 720px;
		height: auto;
		margin: 30px auto;
	}
}

@media screen and (max-width: 767px) {

	.content {
		width: 95%;
	}
}


