.wrapper {
	text-align: center;
	/*drugo resenje za centriranje, koje nije responsive
	width: 1020px;
	margin: 0 auto;*/
}

.container {
	border: 1px solid #242424;
	border-radius: 5px;
	width: 200px;
	padding: 20px;
	margin: 100px auto;
	margin-right: 10px;
	display: inline-block;
	position: relative;
}

.circle {
	width: 70px;
	height: 70px;
	background-color: #242424;
	border-radius: 50%;
	position: absolute;
	top: -33px;
	left: 84px;
}