* {
	box-sizing: border-box;
}

body {
	background-color: #325B69;
	color: #325B69;
}

/*Header section*/
header {
	height: 70px;
	background-color: #B7E0ED;
}

nav {
	float: right;
}

ul {
	margin: 0;
	padding: 0;
}

h1, nav ul li {
	display: inline-block;
	margin: 0;
	padding: 10px;
	line-height: 48px;
	background-color: #B7E0ED;
	border: 1px solid #B7E0ED;
}

header a,
section a {
	text-decoration: none;
	color: #325B69;
}

section a:hover {
	border-bottom: 1px solid #325B69;
}

nav ul li:hover {
	background-color: #325B69;
	border: 1px solid #325B69;
	color: #B7E0ED;
}

/*Main section*/
main {
	overflow: hidden;
	position: relative;
	top: 30px;
	max-width: 600px;
	width: 95%;
	height: auto;
	margin: 30px auto;
	padding: 15px;
	border-radius: 10px;
	background-color: #B7E0ED;
	box-shadow: 4px 4px 4px rgba(183, 224, 237, 0.5);
}

i {
	float: right;
	font-size: 25px !important;
	color: #325B69;
}

main h1 {
	display: block;
	text-transform: lowercase;
	line-height: 30px;
	margin-bottom: 15px;
	padding: 15px 0	10px;
	border-bottom: 2px solid #325B69;
}

main img {
	float: right;
	width: 50%;
	max-width: 100%;
	height: auto;
	margin-left: 10px;
}

main p {
	text-align: justify;
	line-height: 1.2;
}

/*Table section*/
section {
	border-top: 2px solid #325B69;
}

caption {
	text-align: left;
	margin-bottom: 20px;
	font-weight: bold;
}

table {
	width: 100%;
	margin: 20px 0;
	border-collapse: collapse;
	border: 2px solid #325B69;
	text-align: center;
	font-size: 15px;
}

table img {
 	height: 40px;
 	width: auto;
 	max-width: 100%;
}

th {
	padding: 5px 0;
}

th, td {
	border-bottom: 2px solid #325B69;
	border-right: 2px dotted #325B69;
}

td:nth-child(2) {
	font-weight: bold;
}

thead {
	background-color: #325B69;
}

tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.5);
}

tr:nth-child(even) {
	background-color: rgba(255,255,255,1);
}

td:first-child {
	border-right: none;
	background-color: #fff;
}

section p {
	font-size: 13px;
	text-align: right;
}

@media screen and (max-width: 700px) {

	header h1 {
		display: block;
		text-align: center;
	}

	h1, nav ul li {
		line-height: 22px;
	}

	nav {
		width: 100%;
		text-align: center;
	}

	nav ul li {
		display: block;
	}
	
	main p, th, td {
		font-size: 13px;
	}

	main h1 {
		font-size: 24px;
	}

	main h2 {
		font-size: 20px;
	}
}


